---
import type { PokemonListResponse } from "../interfaces/pokemon-list.response";
import MainLayout from "../layouts/MainLayout.astro";
import PokemonCard from "../components/PokemonCard.astro";

const title = "Pokemon Static | Home";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await resp.json()) as PokemonListResponse;

---

<MainLayout title={title}>
  <h1 class="text-3xl my-3 mt-10">Listado de Pokemons</h1>
  <hr />

  <section
    arial-label="Listado de Pokemons"
    class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 xl:grid-cols-5 gap-3 mt-5"
  >
    {data.results.map(({name, url}) => (
			<PokemonCard  
				name={name}
				url={url}
			/>
		))}
  </section>
</MainLayout>
