---
import Navbar from "../components/Navbar.astro";
import MainLayout from "../layouts/MainLayout.astro";

const name = "jisap";
---

<MainLayout title="Home">
  <h1>Astro!!! {name}</h1>
  <p>Momento actual: {new Date().toLocaleDateString()}</p>
  <p id="actual">Momento actual real:</p>
</MainLayout>

<script>
  const actual = document.querySelector("#actual") as HTMLParagraphElement;
  actual.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
</script>
